@use "./styles/variables" as *;
@use "./styles/buttons"; // <-- important
#root {
  max-width: 2440px;
  margin: 0 auto;
  //padding: 2rem;
  flex: 1;
}

.page-content { // pour le contenu interne
  margin-top: 3rem;
}