@use "./styles/variables" as *;
@use "./styles/buttons";

#root {
  max-width: none; // ← retire la contrainte de largeur
  width: 100%;
  margin: 0;
  flex: 1;
}

.page-content {
  flex: 1;
  display: flex;
  flex-direction: column;
}